<appSettings>
  <add key="SSOLogout" value="api/Logout" />
  <add key="ApplicationId" value="28A8B862-9A1D-4E17-A9F1-6219124ACE15"/>
  <add key="IsSendMail" value="Yes"/>
  <add key="SMTPUser" value="elearningsystem.edu@gmail.com"/>
  <add key="SMTPPassword" value="Pass@word1"/>
  <add key="SMTPPort" value="25"/>
  <add key="SMTPEnableSSL" value="false"/>
  <add key="SMTPgmail" value="smtp.gmail.com"/>
  <add key="SkillWebUrl" value="http://localhost:3000"/>
  <add key="SkipSendingEmail" value="false"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
