<connectionStrings>
  <!--<add name="ElearnContext" connectionString="Data Source=GAMING-PC\SQLEXPRESS;Initial Catalog=ELearn;Integrated Security=False;User Id=sa;Password=123456" providerName="System.Data.SqlClient" />-->
  <add name="ETranslation" connectionString="Data Source=DESKTOP-CMGSLRI\LUCASTEO;Initial Catalog=ETranslation;Integrated Security=False;User Id=sa;Password=dev@2018" providerName="System.Data.SqlClient" />
</connectionStrings>
